/**
 * Note CSS - /assets/css/note.css
 * License: GPLv2 or later
 * Copyright: Janneke Van Dorpe (iseulde), http://iseulde.com/
 *
 * @see https://github.com/iseulde/wp-front-end-editor/
 * @see https://github.com/iseulde/wp-front-end-editor/blob/master/css/fee.css
 * @see https://wordpress.org/plugins/wp-front-end-editor/
 *
 * We've used Janneke Van Dorpe's stylesheet as a base and modified it to suit our needs.
 */

.mce-placeholder, .note-placeholder {
	opacity: 0.5;
}

.dashicons,
.dashicons-before:before {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	font-family: "dashicons";
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	color: inherit;
	-webkit-transition: color .1s ease-in 0s;
	transition: color .1s ease-in 0s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button-large .dashicons,
.button-large .dashicons-before:before {
	height: 26px;
	line-height: 26px;
}

/* Content */
.notification-dialog {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	background: #fff;
	line-height: 1.5;
	z-index: 1000005;
}

.notification-dialog-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 1000000;
}

.hidden {
	display: none;
}

.wp-core-ui div.updated,
.wp-core-ui div.error {
	padding: 0 20px 0 0.6em;
	margin: 5px 15px 2px;
}

.wp-core-ui .button,
.wp-core-ui .button.button-large,
.wp-core-ui .button.button-small {
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	vertical-align: top;
}

.mce-content-body hr[data-mce-selected] {
	outline: none;
}

.media-frame .uploader-inline *, .media-frame .uploader-window * {
	text-align: center;
}



/* Reset */
.wp-core-ui td,
.wp-core-ui th {
	vertical-align: inherit;
	float: none;
}

.wp-core-ui label {
	cursor: pointer;
}

.wp-core-ui p {
	font-size: 14px;
}

.media-frame input[type="text"],
.media-frame input[type="password"],
.media-frame input[type="number"],
.media-frame input[type="search"],
.media-frame input[type="email"],
.media-frame input[type="url"],
.media-frame textarea,
.media-frame select {
	height: auto;
	margin-top: 11px;
	padding: 4px;
	line-height: 1.5em;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #dfdfdf;
	font-size: 12px;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	-webkit-transition: 0.05s border-color ease-in-out;
	transition: 0.05s border-color ease-in-out;
}

.media-frame input, .media-frame select, .media-frame textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.media-frame select.attachment-filters {
	height: 28px;
	padding: 2px;
	line-height: 28px;
	vertical-align: middle;
}

div.mce-insert {
	background: transparent;
	position: absolute;
	z-index: 9998;
	top: 0;
	left: 0;
	font-size: 16px;
	line-height: 20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 5px;
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: opacity 0.1s ease-in 0s;
	-moz-transition: opacity 0.1s ease-in 0s;
	transition: opacity 0.1s ease-in 0s;
	outline: none;
}

div.mce-insert:hover {
	opacity: 1;
}

div.mce-insert .dashicons {
	font-family: 'dashicons';
	font-size: 20px;
	line-height: 20px;
}

div.mce-insert .dashicons {
	margin-top: -1px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

div.mce-insert.open .dashicons {
	-webkit-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	transform: rotate( 45deg );
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

div.mce-insert-panel .mce-ico {
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	text-shadow: none;
	margin: 0 auto;
}

div.mce-media-insert-panel .mce-panel {
	background: transparent;
	border: none;
}

div.mce-media-insert-panel .mce-ico {
	width: 100px;
	height: 100px;
	font-size: 60px;
	line-height: 100px;
}

div.mce-insert-panel .mce-btn {
	border: 1px solid transparent;
	position: relative;
	display: inline-block;
	background: none;
	border-radius: 2px;
	box-shadow: none;
	margin: 2px;
	color: #777;
	height: 24px;
	line-height: 24px;
}

div.mce-media-insert-panel .mce-btn {
	height: 100px;
	line-height: 64px;
	margin: -54px 0 0 -51px;
	position: absolute;
	top: 50%;
	left: 50%;
}

div.mce-insert-panel .mce-btn:hover,
div.mce-insert-panel .mce-btn:focus {
	color: #222;
	background-color: #fafafa;
	border-color: #999;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
}


div.mce-insert-panel .mce-btn.mce-active,
div.mce-insert-panel .mce-btn:active {
	background-color: #ebebeb;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
}

div.mce-insert-panel .mce-btn.mce-active:hover {
	border-color: #555;
}

div.mce-insert-panel .mce-btn button {
	padding: 2px 3px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	cursor: pointer;
	color: #777;
	text-align: center;
	overflow: visible;
	-webkit-appearance: none;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div.mce-insert-panel .mce-btn button i {
	line-height: 20px;
}

div.mce-media-insert-panel .mce-btn button i {
	line-height: 100px;
}

div.mce-insert-panel .mce-btn.mce-disabled:not(:focus),
div.mce-panel .mce-menu-item.mce-disabled:not(:focus) {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

div.mce-tinymce-inline,
div.mce-insert-panel {
	position: absolute;
	z-index: 9998;
	background: #f5f5f5;
	padding: 3px;
	color: black;
	margin-bottom: 8px;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
	border: 1px solid #dedede;
	border-radius: 3px;
	top: 0;
	left: 0;
	opacity: 1;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.mce-insert-panel {
	opacity: 1;
	background: rgba(245, 245, 245, 0.85);
}

div.mce-media-insert-panel {
	margin: 0;
	background: transparent;
	border: none;
}

.mce-tinymce-inline {
	padding: 1px;
}

.mce-tinymce-inline .mce-toolbar-grp {
	background: #f5f5f5;
}

div.mce-tinymce-inline.mce-inline-toolbar-active {
	transition:
		top 0.1s ease-out,
		left 0.1s ease-out,
		opacity 0.1s ease-in-out;
	opacity: 1;
}

div.mce-tinymce-inline:before,
div.mce-tinymce-inline:after,
div.mce-insert-panel:before,
div.mce-insert-panel:after {
	position: absolute;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	content: '';
}

div.mce-media-insert-panel:before,
div.mce-media-insert-panel:after {
	display: none;
}

div.mce-tinymce-inline.mce-arrow-up:before {
	top: -18px;
	border-bottom-color: #dedede;
	border-width: 9px;
	margin-left: -9px;
}

div.mce-tinymce-inline.mce-arrow-down:before,
div.mce-insert-panel:before {
	bottom: -18px;
	border-top-color: #dedede;
	border-width: 9px;
	margin-left: -9px;
}

div.mce-tinymce-inline.mce-arrow-up:after {
	top: -16px;
	border-bottom-color: #f5f5f5;
	border-width: 8px;
	margin-left: -8px;
}

div.mce-tinymce-inline.mce-arrow-down:after,
div.mce-insert-panel:after {
	bottom: -16px;
	border-top-color: #f5f5f5;
	border-width: 8px;
	margin-left: -8px;
}

div.mce-insert-panel:after {
	border-top-color: rgba(245, 245, 245, 0.85);
}

div.mce-tinymce-inline.mce-arrow-left:before,
div.mce-tinymce-inline.mce-arrow-left:after {
	left: 20px;
}

div.mce-tinymce-inline.mce-arrow-right:before,
div.mce-tinymce-inline.mce-arrow-right:after {
	right: 11px;
	left: auto;
}

div.mce-tinymce-inline.mce-arrow-full {
	right: 0;
}

div.mce-tinymce-inline.mce-arrow-full > div {
	width: 100%;
	overflow-x: auto;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active:hover i.mce-ico {
	color: #555;
}

.mce-tinymce-inline .mce-btn.mce-listbox button {
	padding-right: 24px;
}

.mce-tinymce-inline .mce-btn button .mce-caret {
	margin-top: 8px;
}

.mce-tinymce-inline .mce-btn.mce-listbox button .mce-caret {
	margin-top: -2px;
}

/* TODO: Remove display property once logic is added to adjust preview colors based on selected node */
.mce-tinymce-inline .mce-preview {
	width: 20px;
	margin-left: -9px;
	padding: 0;
	background: transparent;
	display: none;
}

.mce-tinymce-inline .mce-i-backcolor + .mce-preview {
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	color: inherit;
	background: #ddd;
	font-family: 'dashicons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-shadow: none;
	border-radius: 2px;
	position: absolute;
	top: 2px;
	left: 3px;
	right: 3px;
	bottom: 2px;
}

.mce-tinymce-inline .mce-preview:before {
	content: '\f215';
}

.mce-tinymce-inline .mce-open {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.mce-tinymce-inline .mce-open .mce-caret {
	display: none;
}

.mce-tinymce-inline i.mce-i-backcolor {
	background: #ddd;
	border-radius: 2px;
}


/* Note */
.mce-note-edit-focus {
	background: #ffa !important;
}

.note-cf:before,
.note-cf:after {
	content: ' ';
	display: table;
}

.note-cf:after {
	content: ' ';
	display: table;
}

/* Note Sidebars */
.note-sidebar {
	position: relative;
}

.note-sidebar-placeholder {
	height: 1px;
	padding: 5px 0;
	position: relative;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.note-sidebar-placeholder:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: transparent;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 0;
	-webkit-transition: all 0.4s ease 0.2s;
	transition: all 0.4s ease 0.2s;
}

.note-sidebar-placeholder.hover:before {
	background-color: #ddd;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.note-sidebar-placeholder.hover.pulse:before {
	background-color: #2ea2cc;
}

.note-sidebar-register {
	width: 6px;
	height: 6px;
	margin-top: -3px;
	margin-left: -3px;
	background-color: transparent;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	z-index: 10;
	-webkit-transition: all 0.4s ease 0.2s;
	transition: all 0.4s ease 0.2s;
}

.note-sidebar-placeholder.hover .note-sidebar-register {
	background-color: #aaa;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.note-sidebar-placeholder.hover.pulse .note-sidebar-register {
	background-color: #2ea2cc;
}

.note-sidebar-placeholder.mousemove .note-sidebar-register {
	-webkit-transition: all 0s;
	transition: all 0s;
}

.note-sidebar-placeholder-inactive {
	height: 21px;
	padding: 5px 0;
	border: 1px dashed #ddd;
	position: relative;
	cursor: auto;
}

.note-sidebar-placeholder-inactive:before,
.note-sidebar-placeholder-inactive.hover:before,
.note-sidebar-placeholder-inactive.hover.pulse:before {
	background: transparent;
	-webkit-transition: all 0s;
	transition: all 0s;
}

.note-sidebar-active {
	border-width: 1px;
	border-style: dashed;
	border-color: transparent;
}

.note-edit-border.note-sidebar-active{
	border-color: #ddd;
}

.note-sidebar-placeholder-edit-buttons {
	width: 100%;
	position: absolute;
	top: -60px;
	z-index: 10;
}

.note-ui-button {
	width: 30px;
	height: 30px;
	float: none;
	position: absolute;
	top: 50px;
	right: -16px;

	background: rgba(245, 245, 245, 0.85);
	z-index: 9998;
	padding: 2px;
	color: #000;
	margin-bottom: 8px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	border: 1px solid #dedede;
	border-radius: 15px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0s ease 0.4s;
	transition: all 0s ease 0.4s;
}

.note-ui-button .note-button-label,
.note-ui-button .note-button-label .dashicons {
	width: 24px;
	height: 24px;
	padding: 2px 0;
	color: #777;
	border-radius: 12px;
	line-height: 18px;
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.note-ui-button .note-button-label .dashicons {
	width: auto;
	height: auto;
	border: none;
	line-height: 14px;
}

.note-ui-button .note-button-label-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.note-ui-button .note-button-label:hover {
	color: #222;
	background-color: #fafafa;
	border-color: #999;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
}

.note-ui-button .note-button-label:active {
	background-color: #ebebeb;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.3);
}

.note-secondary-button-wrap {
	height: 98px;
	display: none;
	position: absolute;
	top: 16px;
	right: -1px;
}


.note-sidebar-placeholder-edit-buttons.hover .note-secondary-button-wrap {
	display: block;
}

.note-ui-button.note-secondary-button {
	top: 0;
	right: -15px;
}

.note-secondary-button-wrap-1 {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.note-secondary-button-wrap-1 .note-ui-button.note-secondary-button {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.note-secondary-button-wrap-2 {
	-moz-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.note-secondary-button-wrap-2 .note-ui-button.note-secondary-button {
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.note-secondary-button-wrap-3 {
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}

.note-secondary-button-wrap-3 .note-ui-button.note-secondary-button {
	-moz-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	transform: rotate(-120deg);
}

.note-secondary-button-wrap-4 {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.note-secondary-button-wrap-4 .note-ui-button.note-secondary-button {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.note-secondary-button-wrap-5 {
	-moz-transform: rotate(240deg);
	-webkit-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}

.note-secondary-button-wrap-5 .note-ui-button.note-secondary-button {
	-moz-transform: rotate(-240deg);
	-webkit-transform: rotate(-240deg);
	-o-transform: rotate(-240deg);
	-ms-transform: rotate(-240deg);
	transform: rotate(-240deg);
}

.note-secondary-button-wrap-6 {
	-moz-transform: rotate(300deg);
	-webkit-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}

.note-secondary-button-wrap-6 .note-ui-button.note-secondary-button {
	-moz-transform: rotate(-300deg);
	-webkit-transform: rotate(-300deg);
	-o-transform: rotate(-300deg);
	-ms-transform: rotate(-300deg);
	transform: rotate(-300deg);
}


/*
 * Note Modal
 */
#note-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100100;
}

#note-modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 10;
}

#note-modal-content {
	display: none;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	width: 500px;
	height: 250px;
	overflow: hidden;
	margin-left: -250px;
	margin-top: -125px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 15;
	-webkit-transition: height 0.2s, margin-top 0.2s;
	transition: height 0.2s, margin-top 0.2s;
}

.note-modal-header {
	background: #fcfcfc;
	border-bottom: 1px solid #dfdfdf;
	height: 36px;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	padding: 0 36px 0 16px;
	top: 0;
	right: 0;
	left: 0;
}

.note-modal-close {
	color: #666;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	text-align: center;
	background: none;
	border: none;
	cursor: pointer;
}

.note-modal-close .dashicons {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-decoration: none;
}

.note-modal-close .dashicons:hover {
	color: #2ea2cc;
}

.note-modal-content {
	padding: 16px;
}

.note-modal-content .inputs {
	margin: 1em;
}

.note-modal-content .inputs label {
	display: inline-block;
	margin-top: -5px;
}

.note-modal-content .inputs .description {
	display: inline-block;
	font-size: 13px;
	color: #777;
	font-style: italic;
	margin-top: 0.25em;
}

.note-modal-footer {
	padding: 8px 16px;
	background: #fcfcfc;
	border-top: 1px solid #dfdfdf;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.note-modal-footer .note-modal-buttons-left {
	line-height: 25px;
	float: left;
}

.note-modal-footer .note-modal-buttons-right {
	line-height: 23px;
	float: right;
}

#note-background.media-frame .attachments-browser .attachments,
#note-background.media-frame .attachments-browser .uploader-inline,
#note-background.media-frame .attachments-browser .media-toolbar {
	right: 0;
}

#note-background.media-frame .attachments-browser .media-sidebar {
	display: none;
}

/* Note TinyMCE Media Placeholder */
.note-col-editor-media.has-media-placeholder {
	min-height: 400px;
	margin-bottom: 20px;
}

.note-col-editor-media.has-media-placeholder .editor {
	display: none;
}

.note-media-placeholder .note-placeholder,
.note-media-placeholder div.mce-media-insert-panel,
.note-editor-media div.mce-media-insert-panel,
div.mce-insert-panel.mce-note-media-insert-panel {
	min-height: 400px;
	background: #f6f6f6;
	border: 2px dashed #ddd;

	position: relative;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.mce-insert-panel.mce-note-media-insert-panel {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/**
 * jQuery Autocomplete
 */
.ui-helper-hidden-accessible {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}